/**
 * @name Hu tao theme
 * @author ClearVision Team
 * @version 6.3.0
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.github.io
 * @invite 7pNUC9C
 * @BDEditor Clear Vision
*/

@import url('https://clearvision.github.io/ClearVision-v6/main.css');

:root {
  --main-color: #690000;
  --hover-color: #C90000;
  --success-color: #964800;
  --danger-color: #FF0000;
  --url-color: #860000;
  --undefined: 0;
  --background-image: url('https://i.imgur.com/PHjwvoD.jpg');
  --background-shading: 100%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 90%;
  --background-contrast: 120%;
  --background-saturation: 111%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 1px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://img3.wallspic.com/previews/2/2/3/1/7/171322/171322-anime-genshin_impact-hu_tao-arlecchino-yelan-x750.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 111%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 60%;
  --user-popout-invert: 0%;
  --user-popout-blur: 0px;
  --user-modal-image: url('https://i.imgur.com/o1oboDD.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 0px;
  --home-icon: url('https://i.imgur.com/4AChcvR.jpg');
  --home-position: center;
  --home-size: 48px;
  --channel-unread: #FF4600;
  --channel-color: rgb(161,20,0,0.98);
  --muted-color: rgb(207,0,0,1);
  --online-color: #FF0000;
  --idle-color: #FF6400;
  --dnd-color: #450000;
  --streaming-color: #A93446;
  --offline-color: #2B0000;
  --main-font: gg sans;
  --code-font: Consolas;
  --channels-width: 220px;
  --members-width: 240px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* Any custom CSS below here */


